* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/bg-home.svg);
    background-color: #fefefe;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100vw;
}

#app {
    display: flex;
    flex-direction: column;
}

.login {
    max-width: 320px;
    margin: 20rem auto;
}