* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: Helvetica, Arial, sans-serif;
    font-smooth: antialiased;
}

body {
    background-color: #2b2b2b;
    color: #3b3b3b;

    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}

.app {
    margin: 0 auto;
    padding: 32px;
    max-width: 800px;
}

.table {
    display: table;
    width: 100%;
    margin: 0 0 50px 0;
}

.row.header.green {
    font-weight: 900;
    color: #ffffff;
    background-color: #27ae60;
}

.row.header.yellow {
    font-weight: 900;
    color: #ffffff;
    background-color:#2980b9;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}